{% extends 'base.html.twig' %}

{% block title %}Détail patient{% endblock %}

{% block body %}
<h1>Détail patient</h1>
<ul>
    <li>ID: {{ patient.id }}</li>
    <li>Date inscription: {{ patient.dateInscription|date('Y-m-d') }}</li>
    <li>Profil: {{ patient.profile ? patient.profile.name ~ ' ' ~ patient.profile.last_name : '' }}</li>
</ul>
<a href="{{ path('patient_edit', {'id': patient.id}) }}" class="btn btn-warning">Modifier</a>
<a href="{{ path('patient_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
