{% extends 'base.html.twig' %}

{% block title %}Détail medecin{% endblock %}

{% block body %}
<h1>Détail medecin</h1>
<ul>
    <li>ID: {{ medecin.id }}</li>
    <li>Date embauche: {{ medecin.dateEmbauche|date('Y-m-d') }}</li>
    <li>Profil: {{ medecin.profile ? medecin.profile.name ~ ' ' ~ medecin.profile.lastName : '' }}</li>
    <li>Spécialité: {{ medecin.specialite ? medecin.specialite.labelle : '' }}</li>
</ul>
<a href="{{ path('medecin_edit', {'id': medecin.id}) }}" class="btn btn-warning">Modifier</a>
<a href="{{ path('medecin_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
