{% extends 'base.html.twig' %}

{% block title %}Medecin Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1 class="mb-4">Dr. {{ medecin.profile.name }} {{ medecin.profile.lastName }}</h1>
  <div class="mb-3">
    <a class="btn btn-outline-secondary" href="{{ path('medecin_edit', {'id': medecin.id}) }}">Edit Profile</a>
  </div>

  <h2 class="mt-4">My Rendez-vous</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Patient</th>
        <th>Motif</th>
        <th>Etat</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rendezvous %}
        <tr>
          <td>{{ r.date ? r.date|date('Y-m-d H:i') : '' }}</td>
          <td>{{ r.patient and r.patient.profile ? r.patient.profile.name ~ ' ' ~ r.patient.profile.lastName : '' }}</td>
          <td>{{ r.motif }}</td>
          <td>{{ r.etat }}</td>
          <td>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('rendezvous_show', {'id': r.id}) }}">View</a>
            <a class="btn btn-sm btn-outline-secondary" href="{{ path('rendezvous_edit', {'id': r.id}) }}">Edit</a>
          </td>
        </tr>
      {% else %}
        <tr><td colspan="5">No rendez-vous found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
